* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
.formContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  background-color: rgb(59, 136, 107);
}
input {
  padding: 3%;
}
button {
  margin: 1% 0 0 0;
  width: 5%;
  border-radius: 15px;
  outline: none;
}
button:hover {
  cursor: pointer;
  background-color: rgb(255, 184, 158);
}
.card {
  text-align: center;
  padding: 2%;
  background-color: rgb(210, 250, 210);
  border-bottom: 2px solid white;
}
.card:hover {
  color: rgb(12, 6, 100);
  background-color: rgb(202, 255, 123);
  cursor: pointer;
}
.completed {
  color: rgb(24, 24, 24);
  text-decoration: line-through;
  opacity: 40%;
  background-color: rgb(212, 212, 212);
}